<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yechaoa.materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SwipeRefreshLayoutActivity" />
        <activity android:name=".activity.FloatingActionButtonActivity" />
        <activity android:name=".activity.ToolbarActivity" />
        <activity android:name=".activity.SnackbarActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.CardViewActivity" />
        <activity android:name=".activity.MyDialogActivity" />
        <activity android:name=".activity.BottomNavigationActivity" />
        <activity
            android:name=".activity.CollapsingToolbarActivity"
            android:label="@string/collapsing_toolbar" />
        <activity
            android:name=".activity.TabViewPagerScrollActivity"
            android:label="@string/collapsing_toolbar" />
        <activity android:name=".activity.TextInputLayoutActivity" />
        <activity android:name=".activity.SearchViewActivity"/>
        <activity android:name=".activity.TabLayoutCustomViewActivity"/>
        <activity android:name=".activity.DrawerLayoutActivity"/>
        <activity android:name=".activity.BottomSheetActivity" />
    </application>

</manifest>